.captec-blue {
    background-color: #2e83ae;
    min-height: 50px;
}

.bg-nav{
    background-color: rgba(221, 221, 221, 0.39);
}

.form-container {
    width: 450px;
    padding: 2%;
    background-color: #2e83ae;
    position: relative;
    font-family: "Roboto", sans-serif;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.btn-login {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: hsl(47, 100%, 56%);
    width: 100%;
    border: 0;
    padding: 15px;
    margin-top: 15px;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.deny{
    background-color: orange;
}

.test{
    min-height: 85vh;
}

.form-group input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 12px;
}

select {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 14px;
    padding: 7px;
    color: #6c757d;
}   

.input-group-text {
    font-family: "Roboto", sans-serif;
    background: #ffcf1f;
    width: 100%;
    border: 0;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
    min-width: 120px;
}
.stats {
    min-width: 160px;
}

.login-text{
    color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.btn-login:hover,.form button:active,.form button:focus {
    background: #ffd748;
}

.db-row-text{
    font-size: x-small;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 0.7rem;
    border: 0;
}

.db-row-header{
    font-size: x-small;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 0.7rem;
    border: 0;
    font-weight: bold;
}